# Build outputs
build/
cmake-build-*/

#mesh data
mesh_data/


# Runtime outputs
results/

# IDE
.vscode/
.cache/
.clangd/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# docs
docs/prompt
docs/design
